.inputContent {
    width: 100%;
    padding: 1em;
    font-size: 1.4em;
    font-family: 'Inter';
    min-height: 5em;
    border: 2px solid #212121;
    border-radius: 6px;
  }
  
  .addButton {
    background: linear-gradient(0deg, #8F00FF, #8F00FF), #FFFFFF;
    border-radius: 3px;
    color: white;
    border: none;
    padding: 0.5em 0.8em;
    font-size: 1.2em;
    margin-top: 0.2em;
  }

